@import "./mixins";

#ccwnotifications {
  #header-button-group {
    float: right;

    > .btn {
      width: 40px;
    }
  }

  .multi-dropdown .btn {
    min-width: 200px;
  }

  // #delete-button {
  //   float: right;
  //   margin-left: 7px;
  //   padding: 6px;
  // }

  .alert .btn {
    float: right;
  }

  .float-right {
    float: right;
  }
}
