#home {
  h1 {
    font-size: 36px;
    line-height: 1.4;
  }

  #home-logo {
    height: 100px;
    float: right;
    margin-right: 20px;
  }

  #home-summary {
    margin-top: 50px;
  }

  .page-header {
    margin: 20px 0px;
  }
}
