#notifications-list {
  #notifications-search {
    margin-top: -10px;

    .search-control {
      width: 350px;
      margin-top: 10px;
      margin-left: 5px;
    }
  }

  #notifications-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  .alert .btn {
    float: right;
  }
}
