#owners-list {
  #owners-search {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > label {
      margin-top: 17px;
      margin-left: 10px;
      float: left;
    }

    > button {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  #owners-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #owners-faves {
    float: right;
  }

  .alert .btn {
    float: right;
  }
}

#owners-detail {
  #owners-top {
    margin-bottom: 10px;

    .btn {
      margin-left: 5px;
    }
  }

  #contact-list {
    height: 271px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .btn {
    margin-left: 20px;
  }

  .btn-group > .btn + .btn {
    margin-left: -1px;
  }

  .alert {
    margin-top: 10px;

    .btn{
      float:  right;
    }
  }

  .col-display-label {
    width: 170px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#owners-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
