#owners-list {
  #owners-search {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > label {
      margin-top: 17px;
      margin-left: 10px;
      float: left;
    }

    > button {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  #owners-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #owners-faves {
    float: right;
    margin-top: 10px;
  }

  #owners-faves-dropdown {
    width: 79px;
  }
}

#owners-detail {
  #owners-top {
    margin-bottom: 10px;

    .btn {
      margin-left: 5px;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .btn {
    margin-left: 20px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#owners-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
