#school-buses-key-search {
  .dropdown-menu {
    min-width: 70px;
  }

  .btn {
    min-width: 70px;
  }

  input {
    min-width: 175px;
  }
}

#school-buses-buttons {
  float: right;

  .btn {
    width: 40px;
  }
}

#school-buses-faves {
  float: right;
  margin-top: 10px;

  .btn {
    width: 79px;
  }
}

#school-buses-inspections {
  margin-top: 10px;

  label {
    float: left;
    margin-top: 7px;
    margin-left: 7px;
    font-weight: normal;
  }

  .checkbox-inline {
    margin-top: 7px;
    margin-left: 7px;
  }

  .search-text {
    width: 100px;
    margin-left: 5px;
  }
}

#search-button {
  float:right;
}

#school-buses-detail {
  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  button {
    margin-left: 5px;
  }

  h4 {
    font-weight: 600;
  }

  strong {
    font-weight: 400;
  }
}
