#school-buses-list {
  #school-buses-filters {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > form > span {
      margin-top: 10px;
    }
  }

  #school-buses-inspections {
    margin-top: 10px;

    label {
      margin-top: 7px;
      margin-left: 7px;
    }
  }

  #school-buses-key-search {
    margin-left: 5px;

    .dropdown-menu {
      min-width: 70px;
    }

    .btn {
      min-width: 70px;
    }

    input {
      min-width: 175px;
    }
  }

  #school-buses-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #school-buses-faves {
    float: right;
  }

  #search-button {
    float: right;
    width: 105px;
    margin-top: 10px;
  }
}

#school-buses-detail {
  #school-buses-top {
    margin-bottom: 10px;
  }

  #school-buses-keys {
    margin-left: 20px;
  }

  #school-buses-data {
    .col-display-label {
      width: 140px;
    }
  }

  #inspection-list {
    height: 271px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  #school-buses-policy {
    .col-display-label {
      width: 140px;
    }
  }

  #school-buses-icbc-owner {
    min-height: 80px;

    .col-display-label {
      width: 60px;
    }
  }

  #school-buses-nsc {
    .col-display-label {
      width: 145px;
    }
  }

  #school-buses-icbc-vehicle {
    .col-display-label {
      width: 120px;
    }
  }

  #school-buses-ccw-fetched {
    float: right;
    font-size: 13px;
    font-style: italic;
    padding-right: 5px;
  }

  #issued-date {
    font-size: 60%;
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
  }

  .btn {
    margin-left: 5px;
  }

  .btn-group > .btn + .btn {
    margin-left: -1px;
  }

  .alert {
    top-margin: 10px;

    .btn {
      float: right;
    }
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#school-buses-edit {
  h4 strong span {
    margin-left: 20px;
  }
}

#school-buses-add {
  #school-buses-ccw {
    margin-top: 15px;
  }

  #school-buses-top {
    font-size: 13.5px;
    padding-top: 20px;
    border-top: 1px solid lightgray;

    .col-display-field {
      padding-left: 5px !important;
      padding-right: 10px;
    }
  }

  #school-buses-icbc-owner {
    min-height: 80px;

    .col-display-label {
      width: 55px;
    }
  }

  #school-buses-icbc-vehicle {
    .col-display-label {
      width: 110px;
    }
  }

  #school-buses-ccw-fetched {
    float: right;
    font-size: 12.5px;
    font-style: italic;
    margin-top: 10px;
    padding-right: 5px;
  }

  .well {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .modal-dialog {
    width: 500px;
  }

  .btn-toolbar {
    margin-left: 0px;
  }

  .btn-group {
    float: right;
  }

  .has-error {
    margin-top: 10px;
    font-size: 14px;
    color: #a94442;

    a {
      margin-left: 10px;
    }
  }

  .spinner {
    position: absolute;
    top: 20px;
    left: 200px;
    z-index: 1060;
  }

  h3 {
    font-weight: 600;
  }
}

#inspection-edit {
  .modal-dialog {
    width: 650px;;
  }

  #notes {
    height: 106px;
  }
}

#email-print-buttonGroup{
  float: right;
}

#pageHeader-print,#searchCriteria-print{
  display: none;
}

@media print{
  #email-print-buttonGroup, #view-edit-buttonGroup, #school-buses-bar, #subPageHeader-print, #details, .btn-group{
    display: none;
  }

  #pageHeader-print,#searchCriteria-print{
    display: block;
  }

  #searchCriteria-print span{
    font-size: 15px;
  }
}