#users-list {
  #users-search {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > label {
      margin-top: 17px;
      margin-left: 10px;
      float: left;
    }

    .input-group {
      width: 250px;
      margin-top: 10px;
    }

    #search-button {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  #users-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #users-faves {
    float: right;
  }

  .alert .btn {
    float: right;
  }
}

#users-detail {
  #users-top {
    margin-bottom: 10px;
  }

  #users-access {
    .checkbox-control {
      float: right;
      font-size: 14px;
    }

    input {
      margin-top: 0px;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
  }

  .btn {
    margin-left: 5px;
  }

  .col-display-label {
    width: 100px;
  }

  .alert {
    top-margin: 10px;

    .btn {
      float: right;
    }
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#users-role-popover {
  .date-control {
    margin-right: 10px;
  }
}

#users-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
