@import '../../../node_modules/react-datetime/css/react-datetime';

.date-control {
  .rdt {
    display: inline;
  }

  .rdtPicker {
    top: 34px;
  }

  .form-control {
    width: 102px !important;
  }

  .input-group-btn {
    float: left;
  }

  label {
    float: left;
    margin-top: 7px;
    margin-right: 5px;
    font-weight: normal;
  }
}

.has-error .date-control {
  .btn {
    color: #a94442;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}
