div.btn-toolbar{
  margin-bottom: 5px;
}

.btn.btn-secondary{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;    
  font-size: 14px;
  font-weight: 40;
  line-height: 0.8;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn.btn-secondary:hover{
  background-color: rgb(231, 228, 228);
}