.favourites {
  .dropdown-toggle {
    width: 105px;
  }

  .dropdown-menu {
    width: 250px;
    padding: 0px;

    .favourites-button-bar {
      padding: 6px;

      button {
        width: 100%;
      }
    }

    ul {
      margin: 0px;
      padding: 6px;
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
    }

    li {
      .btn-toolbar {
        float: right;

        .btn {
          margin-left: 6px;
        }
      }

      a {
        cursor: pointer;
      }
    }
  }
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
