.filter-dropdown {
  .dropdown-toggle {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 22px;

    .caret {
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

  .dropdown-menu {
    padding: 0px;

    ul {
      margin: 0px;
      padding: 0px 0px;
      list-style: none;
      max-height: 222px;
      overflow-y: auto;
    }

    li {
      margin: 0px;
    }

    a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }

    a:hover,
    a:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }

    .well-sm {
      padding: 7px;
      margin: 0px;
      border-radius: 2px;
    }
  }
}

.form-group .filter-dropdown {
  display: flex;

  .btn {
    width: 100%;
    text-align: left;
  }
}

.has-error .filter-dropdown {
  .btn {
    color: #a94442;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  .form-control {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  .form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
}
