.multi-dropdown {
  .dropdown-toggle {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 22px;

    .caret {
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 10px;
    }
  }

  .dropdown-menu {
    padding: 7px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
    }

    li {
      margin: 5px 0;
    }

    .checkbox {
      text-align: right;
    }
  }
}
