.multi-dropdown {
  .dropdown-toggle {
    max-width: 200px;
    min-height: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 22px;

    .caret {
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

  .dropdown-menu {
    padding: 0px;

    ul {
      margin: 0px;
      padding: 0px 7px;
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
    }

    li {
      margin: 5px 0;
    }

    .well-sm {
      padding: 7px 7px 0px;
      margin: 0px;
      border-radius: 2px;
    }

    .checkbox {
      margin-top: 5px;
      margin-bottom: 5px;

      label {
        white-space: nowrap;
      }
    }

    .select-all {
      label {
        font-weight: 600;
      }
    }
  }
}

.form-group .multi-dropdown {
  display: flex;

  .btn {
    width: 100%;
    text-align: left;
  }
}

.has-error .multi-dropdown {
  .btn {
    color: #a94442;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  .checkbox {
    color: #494949;
  }

  .form-control {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  .form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
}
