@media (min-width: 768px) {
  .search-control .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .search-control .input-group .input-group-btn,
  .search-control .input-group .form-control {
    width: auto;
  }
}
