@{
    Layout = "~/Views/Layout.cshtml";
}

<h1>
    @ViewBag.errorTitle (@ViewBag.ErrorCode)
</h1>
<h4>
    @ViewBag.errorMessage
</h4>
<h4>
    If the problem persists, please contact <a href="mailto:tranit@gov.bc.ca" target="_top">TRAN IT</a>.
</h4>
<div>
    <button id="reloadButton" onclick="reloadPage()">Retry Print Permit</button>
    <button id="closeButton" onclick="closePage()">Close and Return to School Bus</button>
</div>