@font-face {
  font-family: 'Myriad-Pro';
  src: '../fonts/MyriadWebPro.ttf';
}

html,
body {
  height: 100%;
}

body {
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
  background-color: #f1f1f1;
  color: #494949;
  font-size: 13px;
}

a {
  color: #1a5a96;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  color: #494949;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

table {
  margin: 10px 0;
}

td {
  padding: 4px;
}

th {
  padding: 4px;
  text-align: center;
}

.row {
  margin: 0;
}

.table-responsive {
  border: none;
}

#header {
  width: 100%;
  z-index: 2;
}

#header-main {
  background-color: #003366;
  border: none;
  /* 	border-bottom: 2px solid #fcba19; */
  /* 	padding-bottom: 5px; */
}

#header .header-main-left,
#header .header-main-right {
  padding: 0;
}

#logo {
  float: left;
}

#header .logo {
  display: block;
}

#access {
  display: inline;
  height: 0;
  position: absolute;
  width: 0;
  z-index: 9;
}

#access ul {
  padding-left: 10px;
  list-style: none;
}

#access li a {
  margin: 10px 0 0 -5000px;
  width: 90px;
  padding: 5px;
  position: absolute;
  top: 0;
  color: #fcba19;
}

#access li a:focus {
  margin-left: 0;
}

#header .qa-banner {
  background-color: black;
}

#header .qa-banner .container {
  text-align: center;
  max-width: 1140px;
  padding: 15px;
}

#header .qa-banner .container .qa-banner-text {
  color: #fff;
  font-size: 18px;
}

#header .menu-button {
  background-color: #38598a;
  margin-top: 14px;
  padding: 4px 0 3px;
  text-align: center;
  width: 155px;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
}

#header .menu-button:hover {
  background-color: #5475a7;
}

#header .menu-button span {
  margin: 0;
  font-weight: 400;
  cursor: pointer;
}

#header .menu-button img {
  margin-right: 6px;
  margin-bottom: 2px;
}

#header .search,
#searchWidget .search {
  /*height: 25px;
	width: 100%; */
  margin-top: 4px;
  margin-left: 10px;
  position: relative;
}

#searchWidget {
  background-color: #f1f1f2;
  padding: 15px;
  margin-bottom: 15px;
}

.noWhiteBorder,
.yesWhiteBorder {
  margin-bottom: 15px;
}

.yesWhiteBorder {
  border: 5px solid #fff;
}

#searchWidget p.searchWidget_heading {
  font-weight: bold;
  margin: 0;
}

#searchWidget .search {
  margin-left: 0;
}

#header .search input,
#searchWidget .search input {
  border: 1px solid #fff;
  height: 30px;
  padding: 3px 10px;
  width: 100%;
}

#header .search .search-trigger,
#searchWidget .search .search-trigger {
  margin-top: -30px;
  cursor: pointer;
  height: 30px;
  position: relative;
  right: 6px;
  float: right;
  width: 30px;
  //   background-image: url("../images/search-ico.png");
  background-position: 98% center;
  background-repeat: no-repeat;
}

#searchWidget .search .search-trigger {
  //   background-image: url("../images/search-ico-blue.png");
  right: 0;
}

#preSetSearchTerms,
#allOption {
  display: none;
}

#header-links {
  margin-top: 10px;
}

#header-links a {
  color: #fff;
}

@media (min-width: 768px) {
  #header-links > ul li > a {
    padding: 0;
  }
}

#header-main-row2 {
  padding-bottom: 10px;
}

.navigationRibbon {
  -webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  border-top: 2px solid #fcba19;
}

.navigationRibbon a {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px;
  position: relative;
}

.navigationRibbon a + a:after {
  content: '';
  background: #748bad;
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 50%;
  width: 1px;
}

.navigationRibbon a.current {
  text-decoration: underline;
  font-weight: bold;
}

.navigationRibbon .level2Navigation a.current {
  //   background-image: url("../images/nav-ribbon-arrow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.navigationRibbon .level2Navigation {
  background-color: #38598a;
}

.navigationRibbon .level3Navigation {
  background-color: #5475a7;
}

.header-main-right {
  margin-top: 5px;
}

#breadcrumbContainer {
  position: relative;
  height: 80px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 30px;
}

.breadcrumb > li {
  list-style-type: none;
  display: inline;
}

.breadcrumb > li::after,
.breadcrumb > li + li::after {
  content: '/ ';
  padding: 0 5px;
}

.breadcrumb > li + li::before {
  content: none;
}

#breadcrumb li a {
  font-size: 13px;
}

#breadcrumb li #themeBreadcrumb {
  font-size: 18px;
}

#shareIcons {
  position: relative;
}

#shareContainer {
  position: fixed;
  right: 10px;
  display: block;
  bottom: 10px;
  z-index: 1300;
}

#shareContainer.footer-overlap {
  position: absolute;
  top: -122px;
}

#shareButton {
  background-repeat: no-repeat;
  float: right;
  background-color: #abaeb7;
  padding: 14px 14px 14px 15px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  height: 53px;
  width: 53px;
  background-position: 56% 46%;
}

#shareButton:hover {
  opacity: 0.9;
}

#shareBubble {
  background-color: #ffffff;
  height: 120px !important;
  width: 325px;
  display: none;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 53px;
  border: 1px solid #e3e3e3;
}

#shareBubble h4 {
  line-height: 1.8em;
  padding: 10px 10px 8px 10px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.share_link {
  padding: 0 10px 10px 10px;
}

.share_link_buttons {
  float: right;
  padding: 3px;
  margin-top: -4px;
  margin-right: 7px;
}

.share_link input {
  width: 100%;
  padding: 5px;
}

/*RA-578 2016.07.18 r.lowe - added to prevent floated images from entering RC on mobile*/
#body {
  overflow: hidden;
}

/*RA-597: Additional White Space */
#body > p:first-of-type {
  margin: 0px;
}

#main-content-anchor {
  display: block;
  visibility: hidden;
}

#main-content .table-responsive {
  overflow-x: visible;
  overflow-y: visible;
}

ul.inline {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.inline li {
  float: left;
  padding: 2px 10px;
  position: relative;
}

@media (min-width: 768px) {
  ul.inline li + li {
    border-left: 1px solid #4b5e73;
  }
}

ul.inline li a:link,
nav ul.inline li a:visited {
  color: white;
  display: block;
  text-align: center;
}

.iframe-video-embed,
.iframe-video-embed > iframe {
  max-width: 100%;
}

.iframe-map-embed,
.iframe-map-embed > iframe {
  max-width: 100%;
}

.iframe-visualization-embed,
.iframe-visualization-embed > iframe {
  max-width: 100%;
}

#footer {
  background-color: transparent;
  border-top: 2px solid #fcba19;
  position: relative;
}

#footer.expanded {
  z-index: 1040;
}

#footer a,
#footer h2 {
  color: #fff;
}

#footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 22px;
  padding-right: 20px;
}

#footer hr {
  background: none repeat scroll 0 0 #4b5e73;
  border: 0 none;
  height: 1px;
  margin: 10px 0;
}

#footer #footerWrapper {
  /* 	position: absolute; */
  width: 100%;
  bottom: 0;
}

#footerAdminSection ul {
  clear: both;
  padding: 10px 0;
}

#footerAdminLinks {
  clear: both;
}

@media (min-width: 768px) {
  #footerMediaLinks ul {
    padding-top: 22px;
  }
}

#footerMediaLinks h2 {
  display: inline-block;
}

#footerFeedback {
  position: relative;
  height: 50px;
}

#footerToggle {
  background-color: #003366;
  text-align: center;
}

#footerCollapsible {
  display: none;
  background-color: #003366;
  border: 1px solid transparent;
}

#footerAdminSection {
  background-color: #003366;
}

#feedbackWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
}

#feedbackToggle {
  background-color: #38598a;
  cursor: pointer;
  width: 220px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
}

#feedbackForm {
  display: none;
  width: 220px;
  height: 300px;
  background-color: #38598a;
}

.template {
  min-height: 100%;
  padding-bottom: 80px;
  background-color: #fff;
  font-size: 14px;
}

#homeTemplate {
  background-color: transparent;
  margin-top: -20px;
}

#errorPage {
  padding: 10px;
}

@media (min-width: 768px) {
  #homeTemplate {
    padding-top: 200px;
  }
  #errorPage {
    padding-top: 150px;
  }
}

#themeTemplate {
  background-position: right 150px;
  background-repeat: no-repeat;
  background-color: transparent;
}

#errorPage {
  background-position: right 150px;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (min-width: 992px) {
  .contentPageRightColumn,
  .homePageRightColumn {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .contentPageLeftNavigation {
    padding-right: 15px;
  }
}

.contentPageLeftNavigation ul {
  list-style: none;
  padding-left: 0;
}

.contentPageLeftNavigation ul.leftNav {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.contentPageLeftNavigation ul li {
  width: 100%;
}

.contentPageLeftNavigation > div {
  padding-left: 10px;
}

.contentPageLeftNavigation ul li {
  list-style: none;
  background-position: 0 4px;
  background-repeat: no-repeat;
  line-height: 14px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.leftNav > li:first-child {
  margin-top: 0;
}

.contentPageLeftNavigation div > ul {
  padding-bottom: 26px;
  padding-top: 10px;
  top: 10px;
}

.contentPageLeftNavigation ul li.closed {
  //   background-image: url("../images/sidecolumnnav_closed.gif");
  background-position: 0 2px;
}

.contentPageLeftNavigation ul li ul {
  display: none;
}

.contentPageLeftNavigation ul li.open ul {
  display: block;
}

.contentPageLeftNavigation ul li.solo {
  background-image: none;
}

.contentPageLeftNavigation ul li.open {
  //   background-image: url("../images/sidecolumnnav_open.gif");
  background-position: 0 2px;
}

.contentPageLeftNavigation ul li a {
  text-decoration: none;
  display: block;
  padding: 2px 0 0 4px;
}

#topicLeftNav,
#topicLeftNav .navbar-collapse {
  padding: 0;
  border: none;
}

#topicLeftNav li.open a {
  background-color: inherit;
}

.contentPageLeftNavigation ul li a:hover {
  text-decoration: underline;
}

.contentPageLeftNavigation ul li.active > div.leftNav-item-wrapper a {
  font-weight: bold;
  text-decoration: underline;
}

.contentPageLeftNavigation ul li.current > div.leftNav-item-wrapper a {
  font-weight: bold;
  text-decoration: underline;
}

.blue-heading-bar {
  background-color: #003366; /* for IE */
  background-color: rgba(0, 51, 102, 0.8);
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 8px 15px 7px 15px;
}

.contentPageMainColumn .blue-heading-bar {
  margin: 0;
}

.featureBoxes-3col,
.tiles-container {
  display: table;
  width: 100%;
}

.tiles-row {
  display: table-row;
}

.featureBoxes-3col {
  margin-bottom: 15px;
}

.featureBoxes-3col > .featureBox,
.tiles-row > .tile {
  background-color: #fff; /* for IE */
  background-color: rgba(255, 255, 255, 0.8);
  display: table-cell;
  float: none;
  vertical-align: top;
  padding: 20px 15px;
}

.tiles-container-3col .tiles-row .tile {
  border-top: 1px solid #e3e3e3;
  width: 33%;
}

.tiles-container-3col .tiles-row:first-child .tile {
  border-top: 0;
}

.tiles-container-2col .tiles-row .tile {
  border-top: 1px solid #e3e3e3;
}

.tiles-container-2col .tiles-row:first-child .tile {
  border-top: 0;
}

.tiles-container-2col.level2 .tiles-row:first-child .tile {
  border: 1px solid #e3e3e3;
}

.tiles-container-2col.level2 .tiles-row .tile {
  border: 1px solid #e3e3e3;
  border-top: 0;
}

@media (min-width: 768px) {
  .tiles-container-2col.level2 .tiles-row .tile + .tile {
    border-left: 0;
  }
}

.tiles-container-3col .tiles-row .tile + .tile,
.tiles-container-2col .tiles-row .tile + .tile {
  border-left: 1px solid #e3e3e3;
}

.featureBoxes-3col .featureBox + .featureBox {
  border-left: 1px solid #e3e3e3;
}

.featureBoxes-3col .featureBox .title,
.tiles-container .tile .title {
  font-size: 18px;
  color: #1a5a96;
}

.featureBoxes-3col .featureBox .text,
.tiles-row .tile .tileText {
  margin-top: 0;
  font-size: 13px;
  /* 	color: #7a7a7a; */
}

.featureBoxes-3col .featureBox img {
  width: 100% !important;
  height: auto !important;
}

.homepage-tile {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  height: 70px;
  position: relative;
  /*	overflow: hidden; */
}

.homepage-tile .tile-icon {
  float: left;
  height: 70px;
  width: 85px;
  position: relative;
  padding: 0 15px;
}

.homepage-tile .down-arrow-top {
  position: absolute;
  top: 0;
  left: 36px;
  // background: url("/StaticWebResources/static/gov3/images/down-arrow.png")
  //   no-repeat scroll 0 0 transparent;
  height: 7px;
  width: 12px;
}

.homepage-tile .down-arrow-bottom {
  position: absolute;
  bottom: 0;
  left: 36px;
  // background: url("/StaticWebResources/static/gov3/images/down-arrow.png")
  //   no-repeat scroll 0 0 transparent;
  height: 7px;
  width: 12px;
}

.homepage-tile.first .down-arrow-top,
.homepage-tile.last .down-arrow-bottom {
  display: none;
}

.homepage-tile .tile-content {
  position: relative;
  overflow: hidden;
}

.homepage-tile .tile-text {
  height: 70px;
  font-size: 13px;
  padding: 0 25px;
}

.homepage-tile .tile-text .title {
  padding: 5px 0 3px 0;
  margin: 0;
}

.homepage-tile .tile-search {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 99%;
  width: 40px;
  z-index: 3;
  // background: #fff url('/StaticWebResources/static/gov3/images/inlinesearch-button-off.png') no-repeat left center;
}

.homepage-tile .tile-search.touchable {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 99%;
  width: 40px;
  z-index: 3;
  // background: #fff url('/StaticWebResources/static/gov3/images/inlinesearch-button-off.png') no-repeat left center;
}

.homepage-tile:hover .tile-search,
.homepage-tile.flyout-expanded .tile-search {
  display: block;
}

.homepage-tile .tile-search:hover {
  cursor: pointer;
}

.homepage-tile .tile-search:hover,
.homepage-tile.flyout-expanded .tile-search {
  // background: #26639c url('/StaticWebResources/static/gov3/images/inlinesearch-button-on.png') no-repeat left center;
}

.homepage-tile .tile-search-flyout {
  position: absolute;
  left: 1000px;
  width: 100%;
  max-width: 770px;
  top: 0;
  height: 100%;
}

.homepage-tile .tile-search-flyout form {
  height: 100%;
}

.homepage-tile .tile-search-flyout input {
  height: 99%;
  width: 100%;
  padding: 5px 50px 5px 15px;
  border: 1px solid #26639c;
  font-size: 16px;
  background: #fff;
}

.homepage-tile .tile-search-flyout input.placeholder {
  // background: #fff url('/StaticWebResources/static/gov3/images/tile_searchbox_placeholder.png') no-repeat left center;
}

.homepage-tile table.ss-gac-m {
  left: 85px;
  width: 85%;
  top: 68px;
}

.blue-heading-bar.sortable {
  position: relative;
}

.blue-heading-bar.sortable .heading-title {
  display: inline-block;
  padding-right: 25px;
}

.blue-heading-bar.sortable .tile-sort-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.themeHeader {
  color: #494949;
  font-weight: 600;
  width: 100%;
  min-height: 54px;
  position: relative;
}

.themeHeader h1 {
  font-size: 36px;
}

.rightColumnBox {
  background-color: #fff; /* for IE */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.rightColumnBox p > img,
.themePromoBox p > img {
  display: inline;
}

.rightColumnBox img,
.themePromoBox img {
  display: block;
  margin: 0 auto 10px auto;
  width: inherit !important;
  max-width: 100% !important;
  height: auto !important;
}

/* .rightColumnBox a { */
/* 	word-wrap: break-word; */
/* } */

.homePageMainColumn {
  padding-bottom: 15px;
}

.contentPageMainColumn img,
.contentPageMainColumn table {
  max-width: 100% !important;
  height: auto !important;
}

.tile.col-sm-6 img {
  width: 100% !important;
}

.contentPageMainColumn ul,
.contentPageRightColumn ul,
.homePageRightColumn ul,
#footer ul.bulleted {
  padding-left: 0;
  list-style-type: none !important;
}

.contentPageMainColumn ul {
  padding-left: 17px;
}

.contentPageMainColumn ol {
  padding-left: 28px;
}

.contentPageMainColumn ul > li,
.contentPageRightColumn ul > li,
.homePageRightColumn ul > li,
#footer ul.bulleted > li {
  padding-left: 15px;
  // background: url('/StaticWebResources/static/gov3/images/bullet.png') no-repeat scroll 0 8px transparent;
  margin-bottom: 3px;
}

.contentPageMainColumn ol > li,
.contentPageRightColumn ol > li,
.homePageRightColumn ol > li {
  padding-left: 2px;
  background: none;
  margin-left: 2px;
}

.contentPageMainColumn > #pageIntro:after,
.contentPageMainColumn > #introduction:after {
  content: '';
  display: table;
  clear: both;
}

.rightColumnBox.usefulContacts .contacts {
  display: table;
}

.rightColumnBox.usefulContacts .contacts .contactRow {
  display: table-row;
}

.rightColumnBox.usefulContacts .contacts .contactLabel {
  display: table-cell;
  padding-right: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}

.rightColumnBox.usefulContacts .contacts .contactValue {
  display: table-cell;
  padding-bottom: 10px;
}

#subthemeTemplate .rightColumnBox,
#topicTemplate .rightColumnBox {
  background-color: #f1f1f2;
}

#themeTemplate h1,
#subthemeTemplate h1,
#topicTemplate h1 {
  margin-bottom: 0.67em;
}

#topicTemplate h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

#topicTemplate h2.blue-heading-bar {
  margin: 0;
}

#topicTemplate h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#topicTemplate h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

#topicTemplate hr {
  border-color: #dedede;
}

.contentPageMainColumn p,
.contentPageRightColumn p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.contentPageRightColumn p:first-of-type {
  margin-top: 0;
}

#topicTemplate a.olrLinkSwitch {
  text-decoration: none;
  float: right;
  position: absolute;
  right: 0;
  bottom: 30px;
}

div#breadcrumbContainer .olrPolicyPage {
  margin-right: 30px;
}

.contentPageMainColumn a,
.homePageRightColumn a,
.contentPageRightColumn a,
#breadcrumbContainer a,
#search_result a h4,
#search_result #clustering a,
.contentPageMainColumn .explore a:hover,
#carousel .page .content .wrapper div a,
#carousel .page .content .wrapper div a.pull-left {
  text-decoration: underline;
}

#themeTemplate .contentPageMainColumn a,
#subthemeTemplate .contentPageMainColumn a {
  text-decoration: none;
}

.homePageMainColumn a:hover,
.homePageRightColumn a:hover,
.contentPageLeftNavigation a:hover,
.contentPageMainColumn a:hover,
.contentPageRightColumn a:hover,
#breadcrumbContainer a:hover,
#search_result a:hover h4,
#search_result #clustering a:hover {
  color: #00f;
}

.explore {
  position: relative;
}

.explore-within {
  background-color: #f4f6f9;
  border: 1px solid #e1e3e6;
  color: #174f84;
  font-size: 14px;
  padding: 4px 10px;
  width: 130px;
  float: left;
  cursor: pointer;
}

.explore ul {
  background-color: #f4f6f9;
  border: 1px solid #e1e3e6;
  box-shadow: 2px 2px 2px #ccc;
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  top: 26px;
  width: 100%;
  z-index: 5;
}

.explore ul li {
  background-color: #f4f6f9;
  background-image: none;
  display: block;
  float: none;
  font-size: 13px;
  padding: 6px 12px;
  width: 100%;
  margin: 0;
}

.explore ul li + li {
  border-top: 1px solid #e1e3e6;
}

.explore ul li a {
  color: #333;
  display: block;
  font-size: 13px;
  text-decoration: none;
}

.explore ul li a:hover {
  text-decoration: underline;
}

.themePromoBox {
  /* float: left;
	width: 49%; */
  padding-top: 15px;
}

.themePromoBoxContent {
  background-color: white;
  padding: 15px;
}

.feed + .feed {
  /*	margin-top: 30px;	*/
}

.feed h4 {
  line-height: inherit;
}

span.zeroAnch {
  display: none;
}

img.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
  z-index: 1100;
  cursor: pointer;
  display: none;
}

/* img.back-to-top.footer-overlap, */
/* #footer.expanded img.back-to-top { */
img.back-to-top.footer-overlap {
  position: absolute;
  top: -63px;
}

img.back-to-top:hover {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

@media (min-width: 992px) {
  .themePromoBox.left {
    padding-right: 8px;
  }
  .themePromoBox.right {
    padding-left: 8px;
  }
}

.arrow-link {
  color: #1a5a96;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  text-transform: uppercase;
  // background: url('/StaticWebResources/static/gov3/images/bullet-arrow.png') no-repeat scroll 0 4px transparent;
  margin-top: 10px;
}

.rightColumnBox .count {
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  color: #1a5a96;
  display: inline-block;
  float: left;
  font-size: 30px;
  font-weight: 600;
  margin: 2px 0 0 0;
  padding: 0 4px;
}

.rightColumnBox .caption {
  color: #494949;
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
  padding-left: 7px;
  width: 138px;
}

.rightColumnBox .date {
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .homepage-tile .tile-text {
    padding-right: 40px;
  }
  .homepage-tile .tile-search {
    height: 40px;
    line-height: normal;
    display: block;
  }
  .homepage-tile .tile-search img {
    padding: 5px 0;
  }
  .homepage-tile .tile-search-flyout .tile-searchbox {
    height: 40px;
  }

  .homepage-tile table.ss-gac-m {
    left: 0;
    width: 100%;
    top: 39px;
  }
}

@media (max-width: 767px) {
  #header {
    z-index: 2;
  }
  #header .container {
    padding: 0;
  }
  #header .qa-banner .container .qa-banner-text {
    font-size: 13px;
  }
  #header-main {
    position: relative;
    border-bottom: none;
    margin-bottom: 0;
    border-bottom: 2px solid #fcba19;
  }
  #header #logo img {
    width: 95%;
    height: 95%;
  }

  #header-links > ul li {
    width: 33.3%;
  }
  #header-links > ul li a {
    text-align: left;
  }
  #header #header-main-row1 {
    position: relative;
  }
  #header #header-main-row1 .header-main-left {
    padding-top: 0;
    padding-bottom: 0;
  }
  #header #header-main-row1 .header-main-right {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    padding: 10px;
    position: static;
  }
  #header #header-main-row1 .navbar-header {
    padding-bottom: 10px;
  }
  #header-main-row1 .search-boarder-arror::after {
    border-right: 36px solid transparent;
    border-top: 41px solid #c7c8ca;
    content: '';
    position: absolute;
    right: 95px;
    top: 46px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    z-index: 10;
    display: none;
  }
  #header-main-row1 .in .search-boarder-arror::after {
    display: block;
  }
  #header #header-main-row1 .header-search {
    border-top: none;
    box-shadow: none;
    background-color: #c7c8ca;
    margin-bottom: -2px;
    overflow-y: visible;
  }
  #header #header-main-row2 {
    border: none;
    max-height: none;
  }
  #header .search {
    position: static;
  }
  #header .search .search-trigger {
    margin-top: -30px;
  }
  #header .search,
  #header .search input {
    height: 35px;
    margin: 0;
    bottom: 7px;
    right: 20px;
    font-size: 16px;
  }
  #header .menu-button.mini-menu-trigger,
  #header .search-button.mini-menu-trigger {
    // background-image: url("../images/mini-menu/menu-open-mobile.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    height: 52px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 60px;
    border: none;
    background-position: center center;
  }
  #header .mini-menu-trigger + .mini-menu-trigger {
    border-right: 2px solid #4b5e73;
  }
  #header .search-button.mini-menu-trigger {
    // background-image: url("../images/mini-menu/search-open-mobile.png");
    right: 70px;
  }
  #homeTemplate {
    position: relative;
  }
  #breadcrumbContainer,
  #breadcrumbContainer > .breadcrumb,
  #breadcrumbContainer > a.olrLinkSwitch,
  .themeHeader,
  .themeHeader > .themeHeaderTitle {
    position: static;
  }
  #breadcrumbContainer {
    height: auto;
    padding: 10px 0;
  }
  .themeHeader {
    height: auto;
  }
  #footer {
    position: relative;
    height: auto !important;
  }
  #footerThemeLinks ul {
    margin: 0;
  }
  .homepage-tile .tile-text,
  .homepage-tile {
    height: auto;
    min-height: 70px;
  }
  #themeTemplate,
  #subthemeTemplate,
  #topicTemplate {
    padding-top: 0 !important;
    background-image: none !important;
  }
  .tiles-container-3col.level1 .tiles-row .tile + .tile,
  .tiles-container-2col.level1 .tiles-row .tile + .tile {
    border-left: none;
    border-top: 1px solid #e3e3e3;
  }
  .tiles-container-2col.level2 .tiles-row:first-child .tile + .tile {
    border-top: none;
  }
  .explore-within {
    float: none;
  }
  .featureBoxes-3col > .featureBox,
  .tiles-row > .tile {
    display: block;
  }
  .featureBoxes-3col .featureBox + .featureBox {
    border-left: none;
    border-top: 1px solid #e3e3e3;
  }
  .contentPageLeftNavigation ul.leftNav {
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
  }
  .contentPageLeftNavigation > div {
    padding-left: 0px;
  }
  .contentPageLeftNavigation ul.leftNav {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }
  .contentPageLeftNavigation ul li {
    border-top: 1px solid #e2e2e2;
    margin: 0;
    padding: 0;
    background-image: none !important;
  }
  .contentPageLeftNavigation ul.leftNav > li:first-child {
    border-top: none;
  }
  .contentPageLeftNavigation ul.leftNav li a {
    padding: 15px 50px 15px 25px;
  }
  .contentPageLeftNavigation ul.leftNav li li a {
    padding-left: 40px;
  }
  .contentPageLeftNavigation ul.leftNav li li li a {
    padding-left: 55px;
  }
  .contentPageLeftNavigation ul.leftNav li li li li a {
    padding-left: 70px;
  }
  .contentPageLeftNavigation ul.leftNav li li li li li a {
    padding-left: 85px;
  }
  .contentPageLeftNavigation ul.leftNav li li li li li li a {
    padding-left: 100px;
  }
  .topic-menu-trigger {
    // background-image: url("../images/mini-menu/section-nav-open.png");
    background-position: 97% center;
    background-repeat: no-repeat;
    color: #1a5a96;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    text-align: left;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    margin: 0;
  }
  .leftNav-item-wrapper {
    position: relative;
  }
  #topicLeftNav .level-trigger {
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #e2e2e2 !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
  #topicLeftNav li.open > .leftNav-item-wrapper .level-trigger {
    // background-image: url("../images/mini-menu/section-nav-arrow-dn.png");
  }
  #topicLeftNav li.closed > .leftNav-item-wrapper .level-trigger {
    // background-image: url("../images/mini-menu/section-nav-arrow-up.png");
  }
  #shareIcons {
    display: none;
  }
}

@media (max-width: 992px) {
  .themePromoBox {
    margin-bottom: 15px;
    padding-top: 0;
  }
  .tiles-container {
    margin-bottom: 15px;
  }
  .contentPageRightColumn {
    margin-top: 15px;
  }
}

.alert-success:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: '\f058';
  font-size: larger;
}

.alert-info:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: '\e086';
}

.alert-warning:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: '\f071';
  font-size: larger;
}

.alert-danger:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: '\f06a';
  font-size: larger;
}

.alert:before {
  float: left;
}

.alert p {
  margin: 0;
  padding-left: 1.8em;
}

.ss-gac-m tr:hover {
  cursor: pointer;
}

/* Collapsed header styles */

#header.collapsed-header #header-main {
  border-bottom: 2px solid #fcba19;
  margin-bottom: 0;
}

#header.collapsed-header #logo img {
  width: 95%;
  height: 95%;
}

#header.collapsed-header #header-main > .container {
  position: relative;
}

#header.collapsed-header .hidden-xs {
  display: none !important;
}

#header.collapsed-header #header-main-row1 {
  position: relative;
}

#header.collapsed-header #header-main-row1 .header-main-left {
  float: none;
  width: auto;
}

#header.collapsed-header #header-main-row1 .navbar-header {
  float: none;
  padding-bottom: 10px;
}

#header.collapsed-header .menu-button.mini-menu-trigger,
#header.collapsed-header .search-button.mini-menu-trigger {
  background-color: transparent;
  //   background-image: url("../images/mini-menu/menu-open-mobile.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: medium none;
  border-radius: 0;
  cursor: pointer;
  height: 52px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 60px;
  display: block;
}

#header.collapsed-header .mini-menu-trigger + .mini-menu-trigger {
  border-right: 2px solid #4b5e73;
}

#header.collapsed-header .search-button.mini-menu-trigger {
  //   background-image: url("../images/mini-menu/search-open-mobile.png");
  right: 70px;
}

#header.collapsed-header .navbar-collapse.collapse {
  display: none !important;
}

#header.collapsed-header .navbar-collapse.collapse.in {
  display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search {
  background-color: #c7c8ca;
  border-top: medium none;
  box-shadow: none;
  margin-bottom: -2px;

  height: 0;
  position: absolute;
  right: 50px;
  width: 440px;
}

#header.collapsed-header .visible-xs-block {
  display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search .search-boarder-arror::after {
  border-right: 36px solid transparent;
  border-top: 41px solid #c7c8ca;
  content: '';
  display: none;
  position: absolute;
  right: 61px;
  top: -14px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  z-index: 10;
}

#header.collapsed-header #header-main-row1 .header-search.in .search-boarder-arror::after {
  display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  padding: 10px;
  position: static;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search {
  position: static;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search,
#header.collapsed-header #header-main-row1 .header-search .header-main-right .search input {
  bottom: 7px;
  height: 35px;
  margin: 0;
  right: 20px;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search .search-trigger {
  margin-top: -30px;
}

#header.collapsed-header #header-main-row2 {
  border: medium none;
  max-height: none;
}

#header.collapsed-header #header-main-row2 {
  position: absolute;
  right: 0;
  background-color: #036;
  right: 65px;
  width: 440px;
  padding: 0;
}

#header.collapsed-header #header-main-row2 .header-main-right {
  margin: 0;
}

#header.collapsed-header .navbar-fixed-top .navbar-collapse {
  height: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

#header.collapsed-header .col-lg-6 {
  width: auto;
  float: none;
  left: auto;
  right: auto;
}

#header.collapsed-header .header-main-left {
  padding: 0;
}

#header.collapsed-header .navbar-nav {
  float: none;
}

#header.collapsed-header #header-links {
  margin: 0;
}

#header.collapsed-header #header-links > ul {
  padding: 6px 5px;
  margin: 0;
}

#header.collapsed-header #header-links > ul li {
  width: 33.3%;
  padding: 4px 10px;
}

#header.collapsed-header #header-links > ul li a {
  text-align: left;
  padding: 0 10px;
}

#header.collapsed-header #header-links ul.inline li + li {
  border-left: 0;
}

#header.collapsed-header #govNavMenu {
  position: static;
  z-index: auto;
  top: auto;
  width: auto;
  float: none;
  background-color: #036;
}

/* .search-button.mini-menu-trigger{ */
/* 	background-image: url("../images/mini-menu/search-open-mobile.png"); */
/* 	background-repeat: no-repeat; */
/* 	background-color: transparent; */
/* 	border-radius: 0; */
/* 	cursor: pointer; */
/* 	height: 52px; */
/* 	margin-top: 4px; */
/* 	margin-bottom: 4px;		 */
/* 	position: absolute; */
/* 	left: 420px; */
/* 	top: 0px; */
/* 	width: 60px; */
/* 	border: none; */
/* 	background-position: center center; */
/* } */

/* [RA-359] CS - homepage customizations for BC Gov Services Campaign */
.popular-services-search .homepage-tile {
  border-bottom: 0;
  margin-bottom: 15px;
  min-height: 0;
}

.popular-services-search .homepage-tile .tile-content {
  height: 100%;
}

.popular-services-search .homepage-tile .tile-search {
  display: block;
  // background: #26639c url('/StaticWebResources/static/gov3/images/inlinesearch-button-on.png') no-repeat scroll left
  //   center;
  height: 100%;
}

@media (max-width: 767px) {
  .popular-services-search .homepage-tile .tile-search {
    // background: #fff url('/StaticWebResources/static/gov3/images/inlinesearch-button-off.png') no-repeat scroll left
    //   center;
  }
}

.popular-services-search .homepage-tile .tile-search-flyout {
  position: static;
  max-width: 815px;
}

.popular-services-search .homepage-tile .tile-search-flyout form {
  max-width: 815px;
}

.popular-services-search .homepage-tile .tile-search-flyout form .tile-searchbox {
  border: 0;
  padding-right: 45px;
}

.popular-services-search .homepage-tile .tile-search-flyout form .tile-searchbox.placeholder {
  background: none;
}

.popular-services-search .homepage-tile .ss-gac-m {
  left: 0;
}

.popular-services-text {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 16px;
  color: #1a5a96;
}

.popular-services-text p {
  margin: 0;
}

.campaign-service-buttons .blue-heading-bar {
  display: none;
}

.campaign-service-buttons .featureBoxes-3col h3.title {
  display: none;
}

.campaign-service-buttons .featureBoxes-3col p > a {
  text-decoration: underline;
}

.campaign-service-buttons .featureBoxes-3col p > a.btn {
  text-decoration: none;
}

.alert-content {
  line-height: 1;
  vertical-align: middle;
}
.alert-icon {
  vertical-align: middle;
}

table.alert-box {
  margin: 5px;
}
td.alert-icon-col {
  width: 20px;
  vertical-align: middle;
  padding: 0;
}
td.alert-content-col {
  vertical-align: middle;
  padding: 0;
}

/* end changes for [RA-359] */
.search-suggestion-full {
  width: 100%;
  visibility: hidden;
}
#suggestion_form {
  position: relative;
}

/* begin changes for [CLD-1454] */
.panel-heading .collapseArrow {
  // background-image: url('/StaticWebResources/static/gov3/images/accordion-chevron.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
  height: 14px;
  width: 14px;
  overflow: hidden;
  float: right;
}

.panel-heading .open {
  /*Point arrow upwards*/
  webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-container {
  margin-top: 6px;
}

.panel-group .panel {
  margin-top: 6px;
  border-radius: 0px;
}

.panel-body p.panel-text {
  margin: 0px;
}

.panel-group .panel + .panel {
  margin-top: 6px;
}

.accordion-btn-container {
  width: 170px;
}

button.accordion-btn {
  background-color: #f1f1f3;
  border: none;
  padding: 5px 8px;
  color: #1c5a97;
  text-decoration: none !important;
}

a.accordion-btn {
  background-color: #f1f1f3;
  border: none;
  padding: 5px 8px;
  color: #1c5a97;
  text-decoration: none !important;
}

a.accordion-btn:hover {
  background-color: #f1f1f3;
  border: none;
  padding: 5px 8px;
  color: #1c5a97;
  text-decoration: none !important;
  cursor: pointer;
}

.accordion-bar {
  background-color: #f1f1f1;
  padding: 5px 0px;
}

.panel > .panel-heading {
  background-color: #f1f1f3;
  border-color: #f1f1f3;
  padding: 8px;
  cursor: pointer;
}
.panel-heading {
  border-radius: 0;
}

.panel {
  border-color: #f1f1f3;
  border-radius: 0;
}

.panel-text {
  margin-top: -1em;
}
.panel-text p {
  margin-bottom: 0em;
}
.panel > .panel-heading + .panel-collapse > .panel-body {
  border: 2px #f1f1f3;
}

#topicTemplate .panel-title {
  font-weight: bold;
  color: #1c5a97;
  max-width: 95%;
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.panel-title p {
  margin-top: 0;
  margin-bottom: 0;
}

.show-btn {
  margin-right: -4px;
}

.hide-btn {
  margin-left: -4px;
}

#topicTemplate .contentPageMainColumn a.accordionA {
  text-decoration: none;
}

#topicTemplate .contentPageMainColumn a.accordionA:hover {
  text-decoration: none;
  color: #1c5a97;
}
/* end changes for [CLD-1454] */

/* RA-31, Twitter feed */
h5.twitterUserName {
  margin-bottom: 5px;
  font-weight: bold;
  /*float: left;*/
}

h5.twitterUserName a {
  font-weight: normal;
  color: #aaa;
  /*float: left;*/
  margin-top: 5px;
}

.twitter-follow {
  margin-bottom: 15px;
  /*float: left;*/
  clear: left;
  font-weight: bold;
}

.feedEntry .createdAgo {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 20px;
}

.twitterHeader {
  width: 100%;
  border-bottom: 1px solid #fff;
  /*float: left;*/
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.feed.rightColumnBox {
  float: left;
}
/* end of changes for RA-31, Twitter feed */

#main-content #body a.btn {
  word-break: normal;
}

/* break a link if the link text is too long for the page width, especially in mobile */
#main-content #body a {
  word-wrap: break-word;
  /* RA-636 - Non standard for webkit */
  word-break: break-word;
}

/* ALERT CUSTOMIZATIONS */

.alert-success {
  color: #2d4821;
}

.alert-warning {
  color: #6c4a00;
  background-color: #f9f1c6;
}

.alert-danger {
  color: #d2322d;
}
.printHeader {
  display: none;
}
@media print {
  /*Globals*/
  body {
    font-family: Arial, Helvetica, sans-serif;
    /* 		width:720px; */
  }
  a {
    text-decoration: underline !important;
  }
  a[href]:after {
    content: none;
  }
  #breadcrumbContainer {
    display: none;
  }
  .template {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .container {
    padding: 0;
  }
  .printHeader {
    display: block;
  }
  .row {
    /* 		height: 120px; */
    padding: 15px;
  }
  .featureBoxes-3col > .featureBox {
    display: block;
    width: 100%;
  }
  .contentPageMainColumn ul > li,
  .contentPageRightColumn ul > li,
  ul.bulleted > li {
    list-style-type: disc;
    margin-left: 20px;
  }
  .rightColumnBox {
    padding: 0;
  }
  .contentPageRightColumn {
    width: 100%;
  }
  .tiles-row {
    width: 100%;
    display: block;
  }

  /*Homepage*/
  #main-content {
    /* 		margin-top:50px; */
    width: 100%;
    overflow: hidden;
  }
  .homePageMainColumn > .blue-heading-bar {
    margin-top: 10px;
  }
  .homePageMainColumn > .sortable {
    display: inline;
  }
  .featureBoxes-3col {
    /* 		display:none; */
  }
  .blue-heading-bar {
    padding: 0;
  }
  .tile-sort-button {
    display: none;
  }
  .homepage-tile .tile-icon {
    display: none;
  }

  /*Theme Page*/
  .themeHeader h1 {
    margin: 50px 0 0 0;
  }
  .themePromoBoxContent {
    padding: 0;
  }

  .themeHeader {
    padding-left: 10px;
  }

  .tiles-container-2col .tiles-row .tile {
    width: 100%;
    height: 100%;
    display: block;
    border: 0 !important;
    border-bottom: 1px solid black !important;
    padding: 20px 0;
  }

  .explore-within {
    float: none;
    border: 1px solid black !important;
  }

  /*Topic Page*/
  .col-sm-3 {
    width: 100%;
  }
  .col-sm-offset-3 {
    margin: 0;
  }

  /*Footer*/
  #footer {
    display: none;
  }
}
