#initialization {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10% 15%;
  background-color: white;
  z-index: 9999;
  transform-origin: 50%, 50%;
  opacity: 1;
  transition: transform 1s ease, opacity 400ms;

  &.done {
    opacity: 0;
    transform: scale(1.2);
  }

  #init-message {
    font-size: 20px;
  }

  .progress-bar {
    width: 5%;
    min-width: 30px;
  }

  #loading-error-message {
    margin-top: 50px;
    text-align: center;

    p {
      white-space: pre-line;
    }
  }
}
