@import "gov3";
@import "init";
@import "header";
@import "components/all";
@import "views/all";

#app {
  height: 100%;
}

#main {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.spinner {
  display: inline-block;
  vertical-align: baseline;
  width: 24px;
  height: 24px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #2e6da4;
  border-right-color: transparent !important;
  border-radius: 50%;
  margin-bottom: -2px;
}

button {
  .spinner {
    margin-left: 10px;
    width: 14px;
    height: 14px;
  }

  &.btn-primary {
    .spinner {
      border-color: white;
    }
  }
}

.dropdown-menu {
  font-size: 13px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

th {
  text-align: left;
}
