<html lang="en-CA">
<head>
  <meta charset="utf-8">

  <title>MOTI School Bus Inspection Tracking System</title>
</head>

<body>
  <h1>MOTI School Bus Inspection Tracking System</h1>

  buildTime: {{buildTime}}
  buildSha: {{buildSha}}
  buildBranch: {{buildBranch}}
  buildVersion: {{buildNum}}
</body>
</html>
