<!DOCTYPE html>

<html lang="en-CA">
<head>
  <meta charset="utf-8">

  {{!-- Attempt at overriding the "compatibility mode for intranet" in IE 11 --}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="icon" type="image/png" href="images/gov/favicon.png" />

  <title>CVSE School Bus Inspection Tracking System</title>
</head>

<body>
  <div id="initialization">
    <p id="init-message">Loading School Bus&hellip;</p>

    <div id="init-process" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only">5% Complete</span>
      </div>
    </div>

    <div id="init-error"></div>
  </div>

  <div id="app"></div>

  <script src="js/shims.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
