apiVersion: template.openshift.io/v1
kind: Template
metadata:
  creationTimestamp: null
  name: ${PROJECT_NAME}
labels:
  template: pdf-deploy
objects:
  - apiVersion: v1 #is: pdf
    kind: ImageStream
    metadata:
      creationTimestamp: null
      labels:
        shared: "true"
      name: ${NAME}
    spec:
      lookupPolicy:
        local: false
  # - apiVersion: v1 #dc: pdf
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
      labels:
        deployment: ${NAME}${SUFFIX}
    spec:
      replicas: 1
      selector:
        # deploymentconfig: ${NAME}${SUFFIX}
        matchLabels:
          deployment: ${NAME}${SUFFIX}
      strategy:
        activeDeadlineSeconds: 21600
        rollingParams:
          intervalSeconds: 1
          maxSurge: 1
          maxUnavailable: 1
          timeoutSeconds: 600
          updatePeriodSeconds: 1
        type: RollingUpdate
      template:
        metadata:
          creationTimestamp: null
          labels:
            # deploymentconfig: ${NAME}${SUFFIX}
            deployment: ${NAME}${SUFFIX}
        spec:
          containers:
            - image: image-registry.openshift-image-registry.svc:5000/e82e9a-${ENV}/${NAME}:${VERSION}
              name: pdf
              ports:
                - containerPort: 8080
                  protocol: TCP
              resources:
                requests:
                  cpu: 200m
                  memory: 256Mi
                limits:
                  cpu: 400m
                  memory: 512Mi
              readinessProbe:
                timeoutSeconds: 3
                initialDelaySeconds: 3
                httpGet:
                  path: "/"
                  port: 8080
              livenessProbe:
                timeoutSeconds: 3
                initialDelaySeconds: 30
                httpGet:
                  path: "/"
                  port: 8080
      test: false
      triggers:
        - imageChangeParams:
            automatic: true
            containerNames:
              - pdf
            from:
              kind: ImageStreamTag
              name: ${NAME}:${VERSION}
          type: ImageChange
        - type: ConfigChange
  - apiVersion: v1 #service: pdf
    kind: Service
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
      labels:
        deployment: ${NAME}${SUFFIX}
    spec:
      ports:
        - name: web
          port: 8080
          protocol: TCP
          targetPort: 8080
      selector:
        deployment: ${NAME}${SUFFIX}
parameters:
  - description: Name of the project (SCHOOLBUS)
    displayName: PROJECT_NAME
    name: PROJECT_NAME
    required: true
    value: "sb"
  - description: A name used for all objects
    displayName: Name
    name: NAME
    required: true
    value: "pdf"
  - description: A name suffix used for all objects
    displayName: Suffix
    name: SUFFIX
    required: false
    value: "-dev"
  - description: Environment short name (dev,test,uat,prod)
    displayName: ENV
    name: ENV
    required: false
    value: "dev"
  - description: A version used for the image tags
    displayName: version
    name: VERSION
    required: true
    value: "v1.0.0"
  - description: SOURCE_REPOSITORY_URL
    displayName: SOURCE_REPOSITORY_URL
    name: SOURCE_REPOSITORY_URL
    required: false
    value: ""
  - description: SOURCE_REPOSITORY_REF
    displayName: SOURCE_REPOSITORY_REF
    name: SOURCE_REPOSITORY_REF
    required: false
    value: ""
