<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
    body {
        color: red;
    }
    </style>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>