definitions:{{#list}}
{{#table}}  {{Name}}:
    type: object{{#Description}}
    description: {{Description}}{{/Description}}
    required:
{{#Required}}      - {{req}}
{{/Required}}
    properties:{{/table}}{{#boolean}}{{!
}}      {{Name}}:
        type: boolean{{/boolean}}{{#binary}}{{!
}}      {{Name}}:
        type: string
        format: binary{{/binary}}{{#string}}{{!
}}      {{Name}}:
        type: string{{#Length}}
        maxLength: {{Length}}{{/Length}}{{/string}}{{#integer}}{{!
}}      {{Name}}:
        format: int32
        type: integer{{/integer}}{{#float}}{{!
}}      {{Name}}:
        type: number
        format: float{{/float}}{{#id}}{{!
}}      {{Name}}:
        format: int32
        type: integer{{/id}}{{#datetime}}{{!
}}      {{Name}}:
        type: string
        format: date-time{{/datetime}}{{#date}}{{!
}}      {{Name}}:
        type: string
        format: date-time{{/date}}{{#links}}{{!
}}      {{Name}}:
        type: array
        items:
          $ref: '#/definitions/{{RefDef}}'{{/links}}{{#ref}}{{!
}}      {{Name}}:
        $ref: '#/definitions/{{RefDef}}'{{/ref}}{{!
}}{{#Unique}}
        uniqueItems: true{{/Unique}}{{!
}}{{^table}}{{#Description}}
        description: {{Description}}{{/Description}}{{/table}}{{!
}}{{/list}}
