{{#list}}{{!
}}{{#get}}
    get:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/{{respDef}}"
      deprecated: false'{{/get}}{{!
}}{{#post}}
    post:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: item
          in: body
          required: true
          schema:
            $ref: "#/definitions/{{paramDef}}"
      responses:
        201:
          description: $1 record created
          headers:
            Location:
              description: A link to the {{tag}}
              type: string
              format: url
          schema:
            $ref: "#/definitions/{{respDef}}"{{/post}}{{!
}}{{#bulk}}
  /{{path}}/bulk:
    post:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: items
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/{{paramDef}}"
      responses:
        201:
          description: {{paramDef}} records created{{/bulk}}{{!
}}{{#getById}}
    get:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/{{respDef}}"
        404:
          description: {{tag}} not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of {{tag}} record to fetch
          required: true
          type: integer{{/getById}}{{!
}}{{#putById}}
    put:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/{{paramDef}}"
        404:
          description: {{tag}} not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of {{tag}} to fetch
          required: true
          type: integer
        - name: item
          in: body
          required: true
          schema:
            $ref: "#/definitions/{{respDef}}"{{/putById}}{{!
}}{{#deleteById}}
  /{{path}}/{id}/delete:
    post:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
        404:
          description: {{tag}} record not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of {{tag}} record to delete
          required: true
          type: integer{{/deleteById}}{{!
}}{{#fullpath}}  /{{fullpath}}:
{{/fullpath}}{{! 
}}{{#idpath}}

  /{{idpath}}/{id}:{{/idpath}}{{! 
}}{{#crud}}  /{{path}}:
    get:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/{{tag}}"
      deprecated: false'
    post:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: item
          in: body
          required: true
          schema:
            $ref: "#/definitions/{{tag}}"
      responses:
        201:
          description: {{tag}} record created
          headers:
            Location:
              description: A link to the {{tag}}
              type: string
              format: url
          schema:
            $ref: "#/definitions/{{tag}}"
  /{{path}}/bulk:
    post:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - name: items
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/{{tag}}"
      responses:
        201:
          description: {{tag}} records created
  /{{path}}/{id}:
    get:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/{{tag}}"
        404:
          description: {{tag}} not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of {{tag}} record to fetch
          required: true
          type: integer
    put:
      tags:
        - {{tag}}
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/{{tag}}"
        404:
          description: {{tag}} not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of {{tag}} to fetch
          required: true
          type: integer
        - name: item
          in: body
          required: true
          schema:
            $ref: "#/definitions/{{tag}}"
  /{{path}}/{id}/delete:
    post:
      tags:
        - {{tag}}
      consumes: []
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        200:
          description: OK
        404:
          description: {{tag}} record not found
      deprecated: false
      parameters:
        - name: id
          in: path
          description: id of Owner record to delete
          required: true
          type: integer
{{/crud}}{{!

Macro: __crud
#    Params 1. path, 2. tag name, 3. schema def
#    Assumes that all schema defs on all methods are the same
  { "fullpath": "==path==" },
  { "get": "1", "tag": "==tag==", "respDef": "==respDef=="},
  { "post": "1", "tag": "==tag==", "respDef": "==respDef==", "paramDef": "==respDef=="},
  { "bulk": "1", "path": "==path==", "tag": "==tag==", "respDef": "==respDef=="},
  { "idpath": "==path=="},
  { "getById": "1", "tag": "==tag==", "respDef": "==respDef=="},
  { "putById": "1", "tag": "==tag==", "respDef": "==respDef==", "paramDef": "==respDef=="},
  { "deleteById": "1", "path": "==path==", "tag": "==tag==" }
}}{{/list}}